In [2]:
n = 3
dct = {
    'sam' : 99912222,
    'tom' : 11122222,
    'harry' : 12299933,
}

In [3]:
n, dct

(3, {'sam': 99912222, 'tom': 11122222, 'harry': 12299933})

In [4]:
s1 = 'sam'
s2 = 'edward'
s3 = 'harry'
sl = ['sam', 'edward', 'harry']

In [5]:
# 입력
n = int(input())
ls = [input().split() for _ in range(n)]
book = {k : v for k, v in ls}

1
sam 302020

In [6]:
dct[s1]

99912222

In [7]:
dct["sam"]

99912222

In [8]:
n, ls, book

(1, [['sam', '302020']], {'sam': '302020'})

In [9]:
# 출력
if s2 in dct:
    print("{}={}".format(s2, dct[s2]))
else:
    print("Not found")

Not found

In [ ]:
# 입력
n = int(input())
ls = [input().split() for _ in range(n)]
book = {k : v for k, v in ls}

# 출력 upgrade
while True:
    try:
        name = input()
        if name in book:
            print("{}={}".format(name, book[name]))
        else:
            print("Not found")
    except:
        break

In [11]:
n = 1
phone_book = dict(input().split() for _ in range(n))

sam 3939

In [12]:
phone_book

{'sam': '3939'}

In [ ]:
# output
sam=99912222
Not found
harry=12299933