Today, we're building on our knowledge of Arrays by adding another dimension.
- 모래시계 배열을 검색해서
- 합이 제일 높은 모래시계 배열을 찾아라.
- 차분하게 로직을 짜보자

In [ ]:
# input
1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0

In [5]:
a = np.array(
    [[1, 1, 1, 0, 0, 0],
    [0, 1, 0, 0, 0, 0],
    [1, 1, 1, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0]
    ])

In [10]:
df = pd.DataFrame(a)
df

   0  1  2  3  4  5
0  1  1  1  0  0  0
1  0  1  0  0  0  0
2  1  1  1  0  0  0
3  0  0  0  0  0  0
4  0  0  0  0  0  0
5  0  0  0  0  0  0

In [22]:
arr =  [
    [1, 1, 1, 0, 0, 0],
    [0, 1, 0, 0, 0, 0],
    [1, 1, 1, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0]
    ]

In [ ]:
# hour glass (모래시계)
a b c
  d
e f g

In [21]:
sum(array_list[2])

3

In [24]:
# 모래시계 로직
s = sum(arr[0][0:3]) + arr[1][1] + sum(arr[2][:3])

In [25]:
s

7

In [31]:
result = []
for y in range(0,4):
    for x in range(0,4):
        s = sum(arr[x][y:y+3]) + arr[x+1][y+1] + sum(arr[x+2][y:y+3])
        result.append(s)

In [32]:
result

[7, 2, 3, 0, 4, 2, 2, 0, 2, 0, 1, 0, 0, 0, 0, 0]

In [33]:
max(result)

7

In [ ]:
# sample
1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 2 4 4 0
0 0 0 2 0 0
0 0 1 2 4 0

In [ ]:
# output
19

In [ ]:
# sample explain
1 1 1   1 1 0   1 0 0   0 0 0
  1       0       0       0
1 1 1   1 1 0   1 0 0   0 0 0

0 1 0   1 0 0   0 0 0   0 0 0
  1       1       0       0
0 0 2   0 2 4   2 4 4   4 4 0

1 1 1   1 1 0   1 0 0   0 0 0
  0       2       4       4
0 0 0   0 0 2   0 2 0   2 0 0

0 0 2   0 2 4   2 4 4   4 4 0
  0       0       2       0
0 0 1   0 1 2   1 2 4   2 4 0

In [ ]:
# max number (sum)
2 4 4
  2
1 2 4
19

풀어보기

In [35]:
if __name__ == '__main__':
    arr = []

    for _ in range(6):
        arr.append(list(map(int, input().rstrip().split())))

result = []
for y in range(0,4):
    for x in range(0,4):
        s = sum(arr[x][y:y+3]) + arr[x+1][y+1] + sum(arr[x+2][y:y+3])
        result.append(s)
print(max(result))

1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 2 4 4 0
0 0 0 2 0 0
0 0 1 2 4 0
19

In [ ]:
1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 2 4 4 0
0 0 0 2 0 0
0 0 1 2 4 0

### 추가 아이디어
---
1D 벡터로 연산하는 아이디어다. i%6이 4를 넘지 않는다는 아이디어가 마음에 든다.
단, input을 한번에 넣어줘야한다...

In [3]:
a = [*map(int, input().split())] # 1d array
print(max([
    sum([a[i+k] for k in (0,1,2,7,12,13,14)]) # 1d hour glass
    for i in range(0,22) if i%6 < 4])) # 4x4 positions

1 1 1 0 0 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 2 4 4 0 0 0 0 2 0 0 0 0 1 2 4 0
19