### Finding the percentage
You have a record of $N$ students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer $N$ followed by the names and marks for $N$ students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places.

1. 수학, 물리, 화학
2. type : float
3. 딕셔너리 사용

In [4]:
students = {
    "Krishna" : [67, 68, 69],
    "Arjun" : [70, 98, 63],
    "Malika" : [52, 56, 60]
}

In [26]:
test = "Krishna 67 68 69"

In [7]:
(students["Malika"])/len(students["Malika"])

56.0

Sample Input
```
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
```

### 오히려 input 구성에서 배울 게 많은 것 같다

In [9]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n): # n의 입력 길이만큼 for 문을 돌려준다.
        name, *line = input().split() # 첫번째는 네임, 두번째 이후는 line에 넣는다
        scores = list(map(float, line)) # scores는 line으로 mapping
        student_marks[name] = scores # 딕셔너리 key=name, values=scores로 넣어준다.
    query_name = input()

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

### for문을 안 돌려도 쉽게 문자열을 딕셔너리로 바꿀 수 있구나! 대박!

In [29]:
st2 = {}
name, *line = test.split()
scores = list(map(float, line))
st2[name] = scores
st2

{'Krishna': [67.0, 68.0, 69.0]}

In [19]:
list(range(0))

[]

In [10]:
name, scores, student_marks, query_name

('Malika',
 [52.0, 56.0, 60.0],
 {'Krishna': [67.0, 68.0, 69.0],
  'Arjun': [70.0, 98.0, 63.0],
  'Malika': [52.0, 56.0, 60.0]},
 'Malika')

In [73]:
result = sum(student_marks[query_name])/len(student_marks[query_name])
print( '{:0.2f}'.format(result))

56.00

이거 모르면 아예 못푸는 문제네...
`print("{0:.2f}")`

[파이썬 공식문서 나만 *같음?](https://docs.python.org/ko/3/tutorial/inputoutput.html)

In [78]:
f'{name}, scores, {student_marks}'

"Krishna, scores, {'Krishna': [67.0, 68.0, 69.0], 'Arjun': [70.0, 98.0, 63.0], 'Malika': [52.0, 56.0, 60.0]}"

[fstring](https://www.python.org/dev/peps/pep-0498/#abstract)